@import url('https://fonts.googleapis.com/css?family=Muli:300,800&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: "Muli",  sans-serif;
  font-weight: 300;
  margin-right: auto;
  margin-left:  auto;
  max-width: 54rem; /* 54 x 16px = 864px */
  padding-right: .625rem; /* .625 x 16px = 10px */
  padding-left:  .625rem; /* .625 x 16px = 10px */
  /* display: run-in; */
  border-radius: 1rem;
}

a:link {
  color: rgb(153, 0, 51);
}

a:visited {
  color: rgb(0, 51, 153);
}

h1 {
  font-size: 1.75rem; /* 1.75 x 16px = 28 */
  color: rgb(255, 255, 255);
  margin-top: 1.875rem; /* 1.875 x 16px = 30px */
  background-color:  rgb(255, 51, 102);
  padding: 1rem; /* 1 x 16px = 16px */
  border-radius: 1rem;
  font-variant-caps: small-caps;
}

h2 {
  font-size: 1.25rem; /* 1.25 x 16px = 20px */
  color: rgb(255, 51, 102);
}

/* h2:last-of-type {
  margin: 0;
} */

p {
  line-height: .75em; /* .75 x 16px = 12 */
}

p, li  {
  color: rgb(0, 102, 153);
}

img {
  max-width: 100%;
  height: auto;
  border: 4px solid rgb(255, 51, 102);
  border-radius: 2rem;
}

figure {
  float: left;
  margin: 0;
  margin-right: 2rem;
}

figcaption {
  color: rgb(255, 51, 102);
  font-size: .75rem;
}

ul:first-of-type::after {
  font-size: .875rem; /* .875rem x 16px = 14px */
  content: "*Remember to multiply each ingredient by number of servings";
  color: rgb(255, 128, 128);
}

li {
  line-height: 1.5em; /* 1.5 x 16px = 24px */
}

main {
  background-color: rgba(204, 230, 255, 0.3);
  padding: 2rem; /* 2 x 16px = 32 */
  border-radius: 1rem;
}

section {
  clear: both;
  overflow: auto;
}
section:first-child > h2 {
  margin-top: 0;
}

section > h2 {
  font-size: 1rem; /* 1 x 16px = 16px */
  padding-top: 1rem; /* 1 x 16px = 16px */
}

section > p {
  font-size: .75em; /* .75 x 16px = 12px */
  color: rgb(0, 102, 153);
}


/* section:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

section:first-of-type h2,
section:first-of-type p {
  display: block;
}

section:last-child article:last-child {
  grid-column: 1 / -1;
}

article > h2:first-child{
  font-size: 1.2rem;
    margin-top: 1rem;
}

article:first-of-type p {
  font-size: .75rem; /* 1 x 16px = 16px */
  padding-top: .1rem; /* 1 x 16px = 16px */
}

article > p:last-of-type{
  margin-bottom: 2rem;
}

article:last-child > h2 {
  color: white;
  padding: 1rem; /* 1 x 16px = 16px */
  background-color: rgba(255, 51, 102,.2); /* box around Other Information heading */
  border-radius: 1rem;
}

article:last-child ul {
  background-color: rgba(255, 51, 102,.1);
  list-style-type: circle;
  margin: .25rem;
  padding-left: 2rem; /* 2 x 16px = 32px */
  padding-top: 1rem; /* 1 x 16px = 16px */
  padding-bottom: 1rem; /* 1 x 16px = 16px */
  padding-right: 1rem;
  border-radius: 1rem;
}
