body {
  background-color: seashell;
  padding: 35px;
  font-family: roboto;
}

pre
  {  font-family: roboto;
    color: tomato;

  }

h1 {
  color: tomato;
}

h2 {
  color: tomato;
}

h3 {
  color: tomato;
}

em {
  color: coral;
}
p {
  color: gray;
}

ul {
  color: gray;
}
