@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800&display=swap');


#layout {
  width:700px;
  margin: 0 auto;
  background-color: rgba(241,229,242, 0.5);
  padding: 25px;
}

main section .ingredients{
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px 500px 100px;
}

body{
  font-family: "Open Sans",  sans-serif;
  font-weight: 300;
}

.photo {
  float: right;
}

.photo p{
  font-size: 11px;
}

.prep{
    font-size: 12px;
    margin: 3px;
}

.content h1{
  font-weight: 800;
  font-size: 40px;
}

.content p{
  font-size: 12px;
  margin: 2px;
}

.prep{
  margin-top: 30px;
}
img{
  float: right;
  width: 300px;
  border: 8px solid rgba(208,138,168,0.5);
}

.ingredients {
    margin-top: 0px;
}

.ingredients li{
  margin: 4px;
}

.directions li{
  margin: 7px;
}

a {
  font-color: rgba(241,229,242);
}

h2 {
  margin-top: 30px;
}


.other {
  background-color: rgba(224,228,231, 0.5);
  font-size: 11px;
  padding: 10px;
  padding-left: 35px;
  margin: 0px;
}
